body{
	width:100vw;
	max-width: 100%;
	height:100vh;
	max-height: 100%;
	overflow:hidden;
}
.customContainer{
	position:absolute;
	margin-top:2vh;
	margin-left:200vw;
	display:flex;
	flex-direction:column-reverse;
	width:100vw;
	max-width:100%;
	justify-content: center;
	align-items: center;
	animation: slidein 5s;
}

@keyframes slidein {
  0% {
    margin-top: -30vh;
    margin-left:0%; 
  }
  10%{
    margin-top:2vh;
    margin-left:0%;

  }
  50% {
    margin-top:2vh;
    margin-left:0%;
  }
  90%{
  	margin-top:2vh;
  	margin-left:0%;
  }
  100%{
  	margin-top:2vh;
	margin-left:200vw;
  }
}

* { color:#fff; text-decoration: none;}

.text{
	margin-bottom:5vh;
	  width:50vw;
	  height:10vh;
	  display:flex;
	  background-color:#344051;
	  color:#fff;
	  border-radius: 20px;
}

.text a, .text a span{
 margin: auto;
}

.img{
	margin-top:auto;
	margin-bottom:2vh;
	height:215px;
	width:210px;
	overflow: hidden;
	border-radius: 50% ;
	background-image: url("https://media.giphy.com/media/3o7aTvfZC0vDV6Q3S0/giphy.gif");
	background-position:38% 10%;
}

.innerText{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}