body {
    margin: 0;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 220px;
    background: #005f7d;
    font-family: 'Roboto', sans-serif;
}

div {
    width: 100%;
    height: 100%;
    
}

.container {
    margin: 20px;
    width: 700px;
    height: 400px;
    perspective: 1000px;
    
}

.card {
    transition: transform 2s;
    transform-style: preserve-3d;
    cursor: pointer;
    
    
}
/*-------------------------------------*/
.front, .back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background: white;
}

.front {
    border: 4px solid green;
    background: url("https://media.giphy.com/media/Srf1W4nnQIb0k/giphy.gif");
    background-size: 700px 400px;
}

.front:hover {
    bottom: 2px;
    left: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}

.back {
    border: 4px solid green;
    background:url(?.jpg) no-repeat; 
    transform: rotateY(180deg);
    background: white;
}

.back:hover {
    bottom: 2px;
    right: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}
/*---------------------------------*/
.front2, .back2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background: white;
}

.front2 {
    border: 4px solid green;
    background: url("https://media.giphy.com/media/l49JNZ87F3AmPoH0A/giphy.gif");
    background-size: 700px 400px;
}

.front2:hover {
    bottom: 2px;
    left: 2px;
    box-shadow: 0px 0px 20px 1px #000;
}


/*-------------------------------------*/

.front3, .back3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    background: white;
}

.front3 {
    border: 4px solid green;
    background: url("https://media.giphy.com/media/3oz9ZE2Oo9zRC/giphy.gif");
    background-size: 700px 400px;
}

.front3:hover {
  bottom: 2px;
  left: 2px;
  box-shadow: 0px 0px 20px 1px #000;
}



/*----------------------------------------*/
.lolo{
  font-size: 100px;
}

p{
  font-size: 30px;
  text-align: center;
}
