.video{
	width:170vw;
	heigth: 100vh;
	overflow:hidden;	
	margin-left:-35%;
	
}

header{
	
	height:100vh;
	display : flex;
	align-item : flex-end;
}

.divVid{
	
	margin-top: auto;
	overflow: hidden;
	align-items : end;
}

body{
	background-color : rgb(233,125,116);
}

#gift{
	width:100vw;
	heigth:100vh;
	background-color : rgb(233,125,116);
	margin-left : 0;
	margin-right : auto;
	position: absolute;
	animation : popup 3s;
}

.parde{
	height:100vh;
	
}
.backMenu {
	position: absolute;
	top : 20;
	left : 15;
	z-index : 100000;
}
.fas{
	width:15px;
	height:15px;
}
.reward{
	
	width : 90%;
	text-align : center;
	animation: popup 3s;
	border: 2px Solid white;
	border-radius : 20px;
	background-color : whitesmoke;
	padding : 2%;
	
	opacity:1;
}

@keyframes popup {
	0%{
		
		opacity:0;

	}
	90%{
		opacity:0;
	
	}
	100%{
		opacity:1;
	}
}