<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <link href="home.css" rel="stylesheet">
</head>
<body>
	<div class="customContainer">
		<div class="text">
			<div class="innerText">	
				<h1>
				  <a href="" class="typewrite" data-period="10000" data-type='[ "Salut Jean Novice, cest moi ton assistant. On va ou ajourdhui?"]'>
				    <span class="wrap"></span>
				  </a>
				 
				</h1>
			</div>
		</div>
		<div class="img">
		</div>
	</div>
    <section class="carte">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85640.1522872682!2d1.8421688217439756!3d47.87339465304357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e4d49df386e3%3A0x9eb97de479c38029!2zT3Jsw6lhbnM!5e0!3m2!1sfr!2sfr!4v1576687324875!5m2!1sfr!2sfr" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </section>
    <header>
        <div class="bouton">
            <button type="button"  class="btn btn-success btn-circle btn-lg"><a href="#">Go</a></button>
        </div>
      <nav> 
        <ul class="nav-links">
            <div class="left">
          <li><a href="#">Mes Stats à moi</a></li>
            </div>
            <div>
          <li><a href="#">Mes cadeaux</a></li>
            </div>
        </ul>
      </nav>
    </header>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="testAssist.js"></script>	
</body>
</html>
